
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Page not found</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="robots" content="all">
        <link rel="shortcut icon" href="http://www.coolappse.com/ico.ico" />
        <link rel="apple-touch-icon" href="http://www.coolappse.com/appleicon.png" />

        <link href="http://www.coolappse.com/css/main.css" rel="stylesheet" />
        <link href="http://www.coolappse.com/css/fonts.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
        <meta name="robots" content="noindex">


        <!--[if lt IE 9]>
            <script src="http://www.coolappse.com/js/html5shiv.js"></script>
        <![endif]-->


    </head>
    <body class="notfound">
        <div class="wrapper">
            <div class="big">OOPS! YOU DON'T WANT TO BE HERE</div>
            <div>It looks like it's time to abort mission and go <a href="https://github.com/jawadmjn">Home</a>.</div>
        </div>
    </body>
</html>